.login {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: 
  url("https://www.mumalindiatravel.com/img/Hotel-booking.jpg");
  background-size: "cover";
  height: 100vh;
  margin-top: -70px;
  font-size:50px;
}
  
  
  .lContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .lInput{
    height: 30px;
    padding: 10px;
  }
  
  .lButton {
    border: none;
    padding: 10px 20px;
    background-color: #0071c2;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .lButton:disabled{
    background-color: #0071c28c;
    cursor: not-allowed;
  }